.search {
  &__filter {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #363636;
  }

  .mat-form-field {
    min-width: 600px;
    min-height: 50px;
    margin-top: 10px;
  }
}

