.search {
  &__filter {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #363636;
  }

  .mat-form-field {
    width: 600px;
    min-height: 50px;
    margin-top: 10px;
  }

  button {
    padding: 10px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 620px) {
  .mat-form-field {
    max-width: 400px;
    min-width: 240px;
  }
}

