<div class="container">
  <mat-card class="card" *ngIf="article">
    <img mat-card-image src="{{ article.imageUrl }}" alt="Photo of a news">
    <mat-card-header>
      <mat-card-subtitle class="card__subtitle">
        <mat-icon matPrefix aria-hidden="false" aria-label="Search icon">article</mat-icon>
        {{ article.publishedAt | date }}
      </mat-card-subtitle>
      <mat-card-title class="card__title">
        {{ article.title }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="card__content">
        {{ article.summary }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button routerLink="" mat-button class="card__button">
        <mat-icon aria-hidden="false" aria-label="Search icon">keyboard_backspace</mat-icon>
        Back to main
      </button>
    </mat-card-actions>
  </mat-card>
</div>
