<mat-card class="card">
  <img mat-card-image src="{{ card.imageUrl}}" alt="Photo of a Shiba Inu">
  <mat-card-header>
    <mat-card-subtitle class="card__subtitle">
      <mat-icon matPrefix aria-hidden="false" aria-label="Search icon">article</mat-icon>
      {{ getDate() }}
    </mat-card-subtitle>
    <mat-card-title class="card__title">{{ card.title | slice:0:30 }}
      <!-- The 2020 World's Most Valuable Brands -->
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="card__content">
      {{ card.summary | slice:0:100 }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="card__button">Read more
      <mat-icon matPrefix aria-hidden="false" aria-label="Search icon">trending_flat</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
